.App {
  text-align: center;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inputButtonStyle {
  display: flex;
}

.inputButtonStyle button {
  width: 30%;
  padding: .5rem ;
}

.inputButtonStyle input {
  width: 495px;
  margin-left: 0;
}

@media (min-width: 0px ) and (max-width: 440px)  {
  .inputButtonStyle input {
    /* width: 100%; */
    width: 100%;
    color: blue;
  }

  .inputButtonStyle button {
    width: 100%
  }
}

.inputSubmit {
  background-color: black;
  color: white;
  padding: .5rem;
  display: flex;
  gap: 5%;
}

.inputSubmit label {
  margin-left: 1.5%;
  position: relative;
  top: .5rem;
}

.header {
  align-items: center;
  color: white;
  background-color: black;
}

.alignHeader {
  display: flex;
  gap: 20%;
  align-items: center;
  margin-left: 10%;

}

.alignHeader button {
  height: 2.5rem;
  border-radius: .5rem;
  border: transparent;
}

